body {
    background-color: darkgray;
    font-family: 'Bree Serif', serif;
}

h4 {
    color: white;
}


/* classes  */

.header {
    font-size: 20px;
    /* margin: auto; */
    text-align: center;
}